{% extends "@/base.html.twig" %}

{% block title %}Homepage{% endblock %}
{% block body %}
    <table border>
        <h1>Liste des produits</h1>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.content }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
